/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Reset
1. STYLES

==============================================
*/

/* 0. Reset ================================= */
@use 'reset';


/* 1. STYLES ================================= */

*, *::before, *::after {
	box-sizing: border-box;
}

.card {
	border: 1px solid gray;
	border-radius: 5%;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	width: 70px;
	height: 100px;
	

	.suit {
		font-size: 48px;
	}


	.suit.♥, .suit.♦{
		color: red;
	}

	.suit.♣, .suit.♠{
		color: black;
	}
	.rank {

	}
}

.deck {
	display: flex;
	flex-flow: row wrap;
	min-height: 500px;
}