/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Reset
1. STYLES

==============================================
*/

/* 0. Reset ================================= */
@use 'reset';


/* 1. STYLES ================================= */

*, *::before, *::after {
	box-sizing: border-box;
}

.card {
	border: 1px solid gray;
	border-radius: 5%;
	padding: 0.5rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	width: 70px;
	height: 100px;
	position: relative;
	

	.suit {
		font-size: 3.5rem;
		margin: 0 auto;
	}


	.suit.♥, .suit.♦{
		color: red;
	}

	.suit.♣, .suit.♠{
		color: black;
	}

	.rank{
		font-size: 1rem;
		font-family: Verdana, sans-serif;
	}

	.card-back{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 70px;
		height: 100px;
		background: gray;
		z-index: 1;
		border-radius: 5%;
	}

}

.deck {
	display: flex;
	flex-flow: row wrap;
}